.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-tabs-1 {
  min-height: 571px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  width: 1080px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-2 {
  width: 387px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 8px auto 0 416px;
}

.u-section-1 .u-line-3 {
  transform-origin: left center;
  margin: 23px 30px 0;
}

.u-section-1 .u-table-1 {
  width: 1092px;
  margin: 16px auto 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 3px 64px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 3px 64px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 4px 64px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 4px 64px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 4px 64px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 4px 64px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 3px 64px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px 4px 64px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 2px 65px 2px 64px;
}

.u-section-1 .u-table-cell-41 {
  margin: 30px auto 0 416px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 3px 65px;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 19px auto 0;
}

.u-section-1 .u-line-4 {
  transform-origin: left center;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-1 .u-table-2 {
  width: 993px;
  margin: 26px auto 0;
}

.u-section-1 .u-table-header-2 {
  background-image: none;
}

.u-block-bcd2-136 {
  height: 47px;
}

.u-section-1 .u-btn-11 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -277px 130px 0 auto;
  padding: 7px 84px 9px;
}

.u-section-1 .u-btn-12 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 12px 130px 0 auto;
  padding: 7px 84px 9px;
}

.u-section-1 .u-btn-13 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 12px 130px 0 auto;
  padding: 7px 84px 9px;
}

.u-section-1 .u-btn-14 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 10px 130px 0 auto;
  padding: 7px 84px 9px;
}

.u-section-1 .u-btn-15 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px 130px 0 auto;
  padding: 7px 84px 9px;
}

.u-section-1 .u-btn-16 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 13px 130px 0 auto;
  padding: 7px 84px 9px;
}

.u-section-1 .u-container-layout-4 {
  padding: 12px 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 468px;
}

.u-section-1 .u-line-5 {
  height: 3px;
  transform-origin: left center;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  width: 387px;
  margin: 21px 347px 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 464px;
}

.u-section-1 .u-line-6 {
  height: 3px;
  transform-origin: left center;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  margin: 30px auto 0 447px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 880px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 343px;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-left: 343px;
  }

  .u-section-1 .u-table-2 {
    width: 940px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 381px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 247px;
    margin-left: 247px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 378px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 660px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-left: 263px;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 286px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 137px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 284px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 197px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-left: 197px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 225px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 67px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 224px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 124px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-left: 124px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 138px;
  }

  .u-section-1 .u-text-10 {
    width: 320px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 138px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 132px;
  }
}